  body {
    text-align: -webkit-center;
    background-color: #FFfFFF;
    font-family: Sans-serif;
  }

  .firstCol {
    width: 20%;
  }

  form {
    width:800px;
  }
  .address {
    Height: 60px;
    width: 350px;
    margin-left:15px;
    word-break:break-all;
  }
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;


  }
  .header {
    flex:1;
    text-align: center;
    min-width: 600px;
  }
  .main {
    flex: 1;
  }
  .textbox {
    /* float: right; */
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-weight: normal;
    font-size: 14;
  }
.email-box .row {
    width: 50%;
    margin-top: 20px;
  }
  .email-box .row.emailto {
    width: 100%;
  }
  .email-box {
    display: flex;
    flex-wrap: wrap;
  }
  .checkboxContainer {
    border: solid 3px black;
    flex-flow: wrap;
    width: 50%;
    padding: 5px;
  }

  .checkboxContainer.extra {
    width: 60%;
  }

  .checkboxContainerheader {
    background-color: grey;
    padding: 5px
  }

  .fullWidthContainer {
    border: solid 3px black;
    flex-flow: wrap;
    width: 100%;
    padding: 5px;
  }

  .pair {
    display: flex;

  }

  .right {
    float: right;

  }

  .uploadSection {
    text-align: left;
  }

  .large {
    height: 90px;
    width: 90%;
  }

  .imagePair {
    display: flex;

  }

  .imageContainer {
    flex-flow: wrap;
    width: 50%;
    padding: 5px;
  }
  .uploadRow {
    display: flex;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
  }
  .sub-box {
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
  }
  #id_frame_truss_margin {
    color: red;
  }